    h1,h2{
    color: blue;
    background-color: green;
}
     body{
        background-color: black;
        color: white;
    
     }
     .khan{
        border-radius:%;
     }
     

/* Rounded image */
img.rounded {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
/* Style the sections */
section {
    margin-bottom: 20px;
}
.pic{
    border-radius: 50;
}
.khan img {
    display: flex;
    text-align: center;
 
    border-radius: 50%;
}